
.container div {
  border: 1px solid black;
  display: inline-block;
}
.highlight {
  background-color: red !important;
}
.clear {
  background-color: white !important;
}
.drawpad {
  overflow: auto;
	width: 960px;
	margin: auto;
}
